body {
    margin: 0;
    background-color: #F2DC91;
    font-family: "Noto Sans Display", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}


#image {
    background-image: url('./dumplings.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60%;
    width: 100%;
    color: #7C3009;
    text-align: center;
    align-content: center;
}

#image h1 {
    font-size: 5em;
    background-color: #FFFFFF;
}

#image image {
    max-width: fit-content;
}

#description {
    height: 35%;
    color: #4C1D06;
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
}

#footer {
    background-color: #7C3009;
    width:100%;
    height: 5%;
    color: #F9ECD6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutPane {
    padding: 2%;
    color:#4C1D06;
}

#menuPane {
    padding: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #4C1D06;
    text-align: center;
}
